<<<<<<< HEAD
.navigation {
    background-color: none;
    width: auto;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.navigation .nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navigation .nav-items .nav-content{
    text-decoration: none;
    color: black;
}
=======
.nav-bar{
    height: 2rem;
    display: flex;
    justify-content: space-around;
}

.logo img{
    height: 50px;
    width: 50px;
}
>>>>>>> 0f4ce9c7d51075d85e3fba87c8454da18dd9416a
